/* nautilus */

.nautilus-window { background-color:@theme_base_color; }

.floating-bar {
  background-color: @theme_bg_color;
  border-style: solid;
  border-color: #828282; }
  .floating-bar.left {
    border-radius: 0 3px 0 0;
    border-width: 1px 1px 0 0; }
  .floating-bar.right {
    border-radius: 3px 0 0 0;
    border-width: 1px 0 0 1px; }
  .floating-bar:backdrop {
    background-color: @theme_bg_color;
    border-color: #8a8a8a; }
  .floating-bar button {
    padding: 0px; }
    

/* mate-panel */

.mate-panel-menu-bar #PanelApplet button:checked,
.mate-panel-menu-bar #PanelApplet button:checked:hover,
.mate-panel-menu-bar #PanelApplet button:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat:checked,
.mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover:active,
.mate-panel-menu-bar #PanelApplet button.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:active {
    background-image: linear-gradient(to bottom,
                                      shade (#7B98C9, 1.0),
                                      shade (#6282B7, 1.0));
    background-color: transparent;
    color: @theme_selected_fg_color;
    border-radius: 0;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
    padding: 0;
}

.mate-panel-menu-bar #PanelApplet button,
.mate-panel-menu-bar #PanelApplet button.flat,
.mate-panel-menu-bar #PanelApplet button.toggle {
    border-style: solid;
    border-width: 1px;
border-color: #8C8C8C;
    border-radius: 0;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
    padding: 0;
}

/* xfce4-panel */

.tasklist > button:checked, #xfce-panel-toggle-button:checked {

background-image: image(#C9C9C9); box-shadow: inset 0 1px rgba(255, 255, 255, 0);
border: solid 1.2px #7E7E7E;

}

.tasklist > button:hover, #xfce-panel-toggle-button:hover {
background-image: linear-gradient(to bottom,
                                      shade (#E6E6E6, 1.0),
                                      shade (#C9C9C9, 1.0));
border: solid 1.2px #7E7E7E;

}

/* xfce window recycler */

#xfwm-tabwin {
  padding: 12px;
  font-size: 18px;
  border: solid 1px;
  border-color: @theme_selected_bg_color;
  border-radius: 3px;
}
    
#xfwm-tabwin button:active, #xfwm-tabwin button:checked, #xfwm-tabwin button:active:hover, #xfwm-tabwin button:checked:hover {
      background: @theme_selected_bg_color; 
      color: @theme_selected_fg_color; 
      border: solid 1px #7E7E7E;
      border-radius: 3px;
}
